{% extends 'store/base.html' %}

{% block content %}
<form class='form-group' action='{% url 'store:add' %}' method='post'>
    {% csrf_token %}
    <div class='form-group'>
        <label for="lastname">
            Lastname
        </label>
        <input type="text" name="lastname" id="lastname" placeholder="Lastname" >
    </div>

    <div class='form-group'>
        <label for="firstname">
            Firstname
        </label>
        <input type="text" name="firstname" id="firstname" placeholder="Firstname" >
    </div>
    <button class='btn btn-primary' type="submit">Save</button>
</form>
{% if errors %}
    <div>
        {% for key, error in errors %}

        {% autoescape off %}
            {{ key }} {{ error }}
        {% endautoescape %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}